body {
  margin: 0;
}

html {
  scroll-behavior: smooth; 
  background-color: #202020;
}

.container {
  display: flex;
}

* {
  box-sizing: border-box;

  font-family: "poppins", sans-serif;
}

/* MENU */
.menu {
  width: 320px;
  background: linear-gradient(to bottom, #2b2b2b, #202020);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(55, 55, 55);
  transition: width 0.3s ease;
  gap: 30px;
  flex-shrink: 0;
  position: fixed; 
  height: 100%; 
  top: 0; 
  left: 0;
  z-index: 1000;
}

.menu.collapsed {
  width: 80px;
}

.menu-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-menu-btn {
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.content {
  flex: 1;
  background: linear-gradient(to bottom, #1a1a1a, #121212);
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 80px; 
}
.menu.collapsed + .content {
  margin-left: 80px; 
}

.logo {
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease;
  text-align: center;
}
.menu.collapsed .logo {
  height: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 120px;
  transition: width 0.3s ease;
  filter: invert(1);
}

.menu.collapsed .icon {
  width: 60px;
}

.site-name {
  margin: 0;
  font-family: "Sofia";
  color: rgb(212, 106, 19);
  font-size: 24px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease;
}

.menu.collapsed .site-name {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0s ease 0.1s;
}
.menu:not(.collapsed) .site-name {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0.3s, visibility 0s ease 0.3s;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list ul {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.list ul a {
  font-size: 18px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu.collapsed .list ul a {
  margin: 0;
}
.menu.collapsed .list ul a span {
  display: none;
}
.list ul a span {
  opacity: 1; 
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.list ul li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
.menu.collapsed .list ul li {
  border-bottom: 0px solid;
}

.menu-link i {
  font-size: 20px;
  color: white;
  margin-right: 15px;
  flex-shrink: 0;
}
.menu.collapsed .menu-link i {
  margin-right: 0px;
}
.profile-icon {
  margin-left: 0px;
}
.main-icon {
  margin-left: -3px;
}

/* STRONA GŁÓWNA */

.section-main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;
  padding: 40px;
  color: white;
  border-bottom: 1px solid #f4f4f4;
  gap: 30px;
}

.highlight {
  font-size: 55px;
  font-family: "Sofia";
  color: rgb(212, 106, 19);
}
.text-container {
  flex: 2;
}

.text-container p {
  text-align: justify;
}

.image-container {
  flex: 1;
  transition: opacity 1s ease, max-width 1.5s ease;
  opacity: 1;
}

.profile-image {
  width: 100%;
  border-radius: 20px;
  border: 3px solid rgb(212, 106, 19);
}

.btn {
  font-size: 15px;
  display: flex;
  justify-content: right;
  padding: 8px 10px;
  background-color: rgb(212, 106, 19);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.btn-container {
  display: flex;
}

/* FAKE DIV Z H2 I BORDERAMI */

h2 {
  color: rgb(212, 106, 19);
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* O MNIE SEKCJA */

.section-about {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;
  padding: 40px;
  color: white;
  border-bottom: 1px solid #f4f4f4;
  gap: 30px;
}
.section-about h2 {
  text-align: right;
}

.about-box {
  flex: 4;
}

.about-box p {
  text-align: justify;
}

.image-box {
  flex: 3;
  transition: opacity 1s ease, max-width 1.5s ease;
  opacity: 1;
}

.about-image {
  width: 100%;
  border-radius: 20px;
  border: 3px solid rgb(212, 106, 19);
}

/* EDUKACJA I SKILLE SEKCJA */

.section-profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  padding: 40px;
  border-bottom: 1px solid #f4f4f4;
}

.education-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.education-box {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 1px solid rgb(55, 55, 55);
  color: white;
}
.education-box h3 {
  margin: 0;
  color: rgb(212, 106, 19);
}
.education-icon {
  display: block;
  margin: 0 auto 10px;
  width: 100px;
  height: auto;
}

/* SEKCJA PROFIL - UMIEJĘTNOŚCI */

.skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.skill-box {
  font-size: 15px;
  flex: 1;
  padding: 30px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 10px;
  flex-basis: 350px;
  border: 1px solid rgb(55, 55, 55);
  color: white;
}

.skill-box .skill-icons {
  font-size: 50px;
}
.skill-box h4 {
  margin: 0;
  color: rgb(212, 106, 19);
  text-align: center;
  font-weight: bolder;
}

/* SEKCJA PROJEKTY */

.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 40px;
  border-bottom: 1px solid #f4f4f4;
  min-height: 100vh;
  gap: 30px;
}

.projects-text-container {
  display: flex;
  flex: 2;
}
.section-projects p {
  align-self: center;
  color: white;
  text-align: justify;
}

.project-container {
  flex: 4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.project-box {
  min-width: 230px;
  position: relative;
  flex: 1;
  padding: 40px;
  text-align: center; 
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 1px solid rgb(55, 55, 55);
  color: rgb(212, 106, 19);
  text-decoration: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease; 

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.project-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.project-box:hover::before {
  background-color: rgba(228, 91, 0, 0.7);
  transition: background-color 0.3s ease;
}

.project-box p {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.project-box h3 {
  position: relative;
  z-index: 2;
  color: rgb(212, 106, 19);
  transition: transform 0.3s ease, color 0.3s ease;
}

.project-box:hover h3 {
  transform: scale(1.2); 
  color: black; 
}
.project-box:hover p {
  transform: scale(1.1);
  color: white; 
}

.project-box:first-child {
  background-image: url("img/code.jpg");
}

.project-box:nth-child(2) {
  background-image: url("img/sieci.jpg");
}

.project-box:last-child {
  background-image: url("img/windows.jpg");
}

/* SEKCJA FORMULARZ KONTAKTOWY  */

.section-contact {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: justify;
}

.form-container {
  width: 100%;
  margin: 20px auto;
  min-width: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-begin {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-begin p {
  margin: 0;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: #2b2b2b;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  font-size: 16px;
  color: white;

  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid orange;
  outline: none;
  color: white;
}

input:-webkit-autofill {
  background-color: #2b2b2b !important;
  color: white !important;
  border: 1px solid #2b2b2b !important;
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus {
  background-color: #2b2b2b !important;
  color: white !important;
  border: 3px solid orange !important;
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset !important;
  -webkit-text-fill-color: white !important;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(212, 106, 19);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(196, 88, 1);
}

@media (max-width: 1200px) {
  h2 {
    font-size: 20px;
    font-weight: bolder;
  }
  .section-main {
    gap: 0px;
    padding: 10px;
    font-size: 15px;
  }
  .highlight {
    font-size: 30px;
  }
  .btn-container {
    justify-content: center;
  }

  .image-container {
    transition: opacity 1s ease, max-width 0.5s ease;
    opacity: 0;
    max-width: 0;
  }
  .section-about {
    gap: 0px;
    padding: 10px;
    font-size: 15px;
  }
  .image-box {
    transition: opacity 1s ease, max-width 0.5s ease;
    opacity: 0;
    max-width: 0;
  }

  .section-profile {
    gap: 10px;
    padding: 10px;
    font-size: 15px;
  }
  .section-projects {
    gap: 10px;
    padding: 10px;
    font-size: 15px;
  }
  .section-contact {
    gap: 10px;
    padding: 10px;
    font-size: 15px;
  }
}
